@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media print {
  header, button, .no-print {
    display: none !important;
  }
  body {
    background-color: white !important;
    color: black !important;
  }
  .print-break-inside {
    break-inside: avoid;
  }
}
